# macOS junk
.DS_Store

# VSCode
.vscode/

# Build files and executables
*.out
*.o
*.obj
*.exe
a.out
main
*.dSYM/

# Ignore files with no extension (executables)
*
!*.cpp
!*.h
!*.md
!*.gitignore
# Ignore executables with no extension
*/output/*
*/tempCodeRunnerFile
*/Notes
*/CppSkelton
*.[oO]
*.[out]
.gitignore